body {
    background-image: url("pictures/ui/wave.png");
    background-position: center; /*https://www.w3schools.com/howto/howto_css_full_page.asp*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: rgb(105, 105, 131);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.nav-content {
    color: rgb(145, 145, 167);
    font-size: 40px;
    text-align: center;
    cursor: pointer; /* https://de.w3docs.com/snippets/css/wie-kann-man-den-mauszeiger-mit-css-andern.html */
}

.nav {
    text-decoration: none;
    color:rgb(145, 145, 167);
    font-size: 40px;
}

.nav:hover {
    color: rgb(183, 186, 209);
}

#play:hover {
    color:rgb(183, 186, 209);
}

#error {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: rgba(252, 103, 103, 0.952);
    font-size: 20px;
    grid-area: header2;
    width: 300px;
}

/* Smartphone */
@media screen and (max-width: 600px) {

    body {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }

    #logo img {
        width: auto;
    }
    
    #back {
        width: 100%;  
    }

    #back img {
        width:50px;
        margin-left: 25px;
    }

    input {
        width: auto;
    }

    #play-button {
        text-align: center;
        font-size: 25px;
    }

    .score-entry {
        padding-left: 40px;
    }
  }