body {
    background-image: url("pictures/ui/wave.png");
    background-position: center; /*https://www.w3schools.com/howto/howto_css_full_page.asp*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: rgb(105, 105, 131);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.grid-box {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header1 header2 header3"
        ". content2 ."
        " footer1 . .";
}

#score-container {
    grid-area: content2;
}

#logo {
    grid-area: header1;
}

#play-button {
    grid-area: header3;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#play-button img {
    margin-top: 10px;
    width: 50px;
}

#error {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: rgba(252, 103, 103, 0.952);
    font-size: 20px;
    grid-area: header2;
    margin-top: 20px;
    text-align: center;
}


#back {
    grid-area: footer1;
}

#back img {
    width: 60px;
}

.score-entry-rank-image {
    width: 100px;
    float: left;
    margin-right: 50px;
}

.score-entry-rank-number {
    color: rgb(75, 73, 73);
    font-weight: bold;
    font-size: 20px;
    float:left;
    margin-right: 95px;
    margin-left: 45px;
    padding-top: 15px;
}

.score-entry-username {
    width: auto;
    font-size: 16px;
    color: rgb(78, 78, 100);
    padding-top: 25px;
}

.score-entry{
    height: 100px;
    background-color: rgba(255, 255, 255, 0.637);
    align-items: center;

}

/* Desktop */
@media screen and (min-width: 1025px) {
    .grid-box {
        grid-template-columns: 30% auto 30%;
    }

    #back {
        width: 100%;  
    }

    #back img {
        width:50px;
        margin-left: 25px;
    }
}

/* Tablet */
@media screen and (min-width: 600px) and (max-width: 1112px) {
    .grid-box { 
        
        grid-template-columns: 100%;
      
        grid-template-rows: auto 5fr auto auto;

        grid-template-areas: 
            "header1"
            "header3"
            "content2"
            "footer1";
    
        grid-gap: 25px;
    }
    
    #back {
        width: 100%;  
    }

    #back img {
        width:50px;
        margin-left: 25px;
    }
}

/* Smartphone */
@media screen and (max-width: 600px) {

    body {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .grid-box { 
        
        grid-template-columns: 100%;
      
        grid-template-rows: auto 5fr auto auto;

        grid-template-areas: 
            "header1"
            "header2"
            "header3"
            "content2"
            "footer1";
    
        grid-gap: 25px;
    }

    #back {
        width: 100%;  
    }

    #back img {
        width:50px;
        margin-left: 25px;
    }

    input {
        width: auto;
    }

    #play-button {
        text-align: center;
        font-size: 25px;
    }

    .score-entry {
        padding-left: 40px;
    }    
  }