body {
    background-image: url("CSS-pictures/bg.png");
    font-family: sans-serif;
    font-size: 1.2em;
    margin: auto;
    border-style: solid;
    border-width: 1px;

    border-color: rgba(0, 0, 0, 0);
    color:#616461
}

.grid-layout {
    display: grid;
    grid-template-areas: ". nav ."  ". main ." ". footer .";
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 15% auto 15%;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    height: auto;
    background-color: rgb(245, 255, 245);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.205);
}

footer {
    background-color: rgba(57, 70, 53, 0.932);
    grid-row: 3 span;
    grid-area: footer;
    width: 100%;
    height: auto;
    margin: auto;
}

strong {
    padding: 8px;
}
#burgermenu {
    display:none;
}

#burgermenu div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#burgerclick {
    display:none;
}

.dropdown {
    padding-bottom: 1rem;
    text-align: center;
    display:none;
}

ul {
    margin:0;
    padding:0;
}

/*NAVIGATION*/
#navcontent {
    position: relative;
    right: 0;
    padding: 20px 2px 20px 10px;
    margin-left: auto;
    text-align: right;
}

/*Maus-HOVER*/
#navcontent a:hover {                                           
    padding: 20px 0px 20px 0px;

    background-color:rgba(147, 161, 147, 0.603);
} 


 /*Link*/
a.nav {                                                        
    text-decoration: none;
}

/*weisse Navi Schrift*/
strong {                                                        
    color: white;
} 

 /*fixierte Navigation*/
nav {  
    background-color: #aeccae;                                                        
    position: sticky;
    top: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.322);
}

 /*Obere Abstand*/
header {
    background-color: rgb(245, 255, 245);                                                      
    margin-top: 20px;
}

/*Nachfahren*/
div h1 {
    color: rgba(64, 119, 58, 0.932);
}

div h2 {
    color: #7dc789; 
}

/*Folgeelement*/
h3+b {
    background-color:rgba(198, 235, 203, 0.521);
}

 /* allg. Überschriften */
h1, h2 {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center; 
}



/*TOP Sprung*/
.zurück-top {  
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;                                                 
    text-decoration: none;

    color: #aeccae;
}

/*Sprung HOVER*/
.zurück-top:hover {                                             
    color:rgb(115, 167, 115);
}

 /*footer-IMPRESSUM*/
.box {
    font-size: small;                                                         
    text-align: center;
    float: left;
    padding: 50px;
    box-sizing: border-box;
    width: 50%;
    height: 200px; 

    
    color:rgba(201, 198, 198, 0.952);
} 

.box h5 {
    font-size: 20px;

    text-align: center;
}

.kontakt {
    margin: 5px;
}

/*social media - Box-Modell*/
.box2 {
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

/* social media - Icons*/
.fa {
    padding:10px;
    font-size: 30px;
    text-decoration: none;
    width: 10%;
}

/*social media - HOVER*/
.fa:hover {
    color: rgb(115, 167, 115);
  }

.fa-instagram {
    color: #aeccae;
    text-align: center;
  }

.fa-twitter {
    color:#aeccae;
    text-align: center;
  }

.fa-facebook {
    color:#aeccae;
    text-align: center;
  }



/*ÜBER MICH*/



/*Geschwister*/
div ~ table {
    color:rgb(54, 124, 81);
    font-size: 17-px;
}

/*ZITAT*/
.zitat {                                                          
    text-align: center;
    padding: 20px;
    height: 50px;
}

/*BILDER*/
.gallery {                                                       
    display: block;
    width: 198px; 
    height: auto;
    margin: 0 auto;
    padding: 25px;
    border-radius: 50%;
}

/*TABELLE*/
#table-steckbrief td{                                          
    padding: 10px 10px 10px 10px;
    text-align: center;
    border: 2px solid #aeccaea6;
    background-color:rgba(230, 245, 230, 0.5);
}

/*TABELLE ZENTRIERUNG*/
#table-steckbrief {                                             
    margin: auto;
    padding: 0 0 50px 0;
    border: 5px solid transparent;
}

/*VIDEO ZENTRIERUNG*/
.video {                                                        
    display: block;
    margin: 0 auto;
}

/* TEXT unter dem Video*/
.ramen-text {
    text-align: center;
}

 /*HFU-TEXT ZENTRIERUNG*/
#hfu-text {                                                    
    text-align: center;
    padding: 20px;
}



/*PORTFOLIO-SEITE*/


/*Attribute*/
a[href="https://www.glg-freiburg.de/schularten/berufskollegs/bk-foto-medientechnik/"] {
    color: rgb(0, 38, 255);
}

a[href="https://bilger-fotodesign.de/"] {
    color: rgb(0, 255, 242);
}

a[href="https://www.die-oldtimer-galerie.de/de/"] {
    color: rgb(146, 82, 104);
}

a[href="https://www.washandart.de/"] {
    color: rgb(211, 58, 211);
}

.pictures {
    width: auto;
}

/*BILDERUNTERSCHRIFT*/
.picture-text  {
    flex-direction: row;
    display: flex;
}

/*BILDERUNTERSCHRIFT-TEXT*/
.p {
    text-align: center;


}

/*einzelne BILDER */
.pic-style {                                                  
    border-radius: 50%;


    border: 5px solid #aeccaead;
    box-shadow: 2px 2px 2px 2px rgba(61, 60, 60, 0.138);
} 

/*Instagram style*/
.link {                                                    
    text-decoration: none;

    color:  #aeccae;
}

/*Instagram HOVER*/
.link:hover {                                               
    color: rgb(115, 167, 115);
}

 /*Text - zentriert*/
#text {                                                                                                          
    text-align: center;
    padding: 60px 0 50px 0;
}

.picturecontainer {
    padding: 0 9%;
}



/*KONTAKT-SEITE*/



/*Pseudo-Test*/
span::before {
    content: "-";
    width: 55px;
    height: 15px;
    display: inline-block;
}

/*Überschriften*/
#h4 h4 {
    margin:0;
}

/*Haupttext*/
.kontakt-box1 {
    font-size: medium;  
    display: flex;
}

.kontakt-box {
    font-size: medium;                                                   
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    height: 250px;
    margin-left: 50px;;

    background-color: rgb(245, 255, 245);
}

/*social media Text*/
#text-sm {
    margin: 13px;
}

/*ICONS im Hauptext*/
.box-icon {
    font-size: 20px;                                                          
    text-align: center;
    width: 100%;
    box-sizing: border-box;
 
}

.kontakt-box2 {
    text-align: center;
    margin-top: 50px;
}

#b-kontakt{
    font-size: 30px;
}

/*Kontaktfelder*/
input {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    height: 30px;
    border: 1px solid grey;
}

/*Nachrichtfeld*/
#subject {
    height: 100px;
    width: 400px;
}

/* Datenschutz*/
.Datenschutz {
    color: grey;
    font-size: small;
}


.h3-kontakt {
    margin-top: 0;
}

/*Schriftart im Nachrichtfeld*/
textarea {
    font-family: sans-serif;
}

/*senden Button*/
#senden {
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    
} 

/*senden hover*/
#senden:hover {
    background-color:rgb(115, 167, 115);
}

@keyframes rainbow {
    0%   {background-color:#f8e5e5; left:0px; top:0px;}
    25%  {background-color:rgb(245, 245, 168); left:200px; top:0px;}
    50%  {background-color:rgb(159, 233, 169); left:200px; top:200px;}
    75%  {background-color:rgb(150, 215, 235); left:0px; top:200px;}
    100% {background-color:rgb(241, 230, 245); left:0px; top:0px;}
  }
  
.animation {
    animation-name: rainbow;
    width: 80px;
    height: 50px;
    animation-duration: 4s ;
    animation-iteration-count:infinite;
}

@keyframes uwu {
    0%   {color:#f3c6c6; left:0px; top:0px;}
    25%  {color:rgb(224, 224, 127); left:200px; top:0px;}
    50%  {color:rgb(159, 233, 169); left:200px; top:200px;}
    75%  {color:rgb(150, 215, 235); left:0px; top:200px;}
    100% {color:rgb(223, 191, 235); left:0px; top:0px;}
  }

.fa-instagram{
    animation-name: uwu;
    animation-duration: 4s ;
    animation-iteration-count:infinite;
}

.fa-twitter{
    animation-name: uwu;
    animation-duration: 4s ;
    animation-iteration-count:infinite;
}

.fa-facebook{
    animation-name: uwu;
    animation-duration: 4s ;
    animation-iteration-count:infinite;
}

@media screen and (max-width: 600px) {
    .grid-layout {
        grid-template-areas: "nav" "main" "footer";
        grid-template-columns: auto;

    }
    .box {
        padding: 20px;
    }
    .box2 {
        padding: 5px;
    }
  }

  @media screen and (max-width: 400px) {
      #navcontent {
          display: none;
      }
      #burgermenu {
        display: block;
        justify-content: center;
        padding: 0.7rem 0 ;
        width: 35px;
        margin: 0 auto;
      }
      #burgerclick:checked+.dropdown {
          display:block;
      }
  }

#ImpressSM {
    margin-top: 0px;
    font-size: 17px;
}

 

      
